@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,500&display=swap');
   body{
    background-color: black;
    color: white;
    padding: 1rem;
   }
.container-md{
  padding: 1rem;
  border-radius: 1rem;
}
.title{
  cursor: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.2rem;
  font-weight: 600;
}
h1{
  text-align: center;
  color: yellow;
  font-size: 30px;
  border-radius: 10px 10px 10px 10px;
  padding: 5px;
  width: 90%;
  margin: auto;
}
h1:hover{
  box-shadow: 0 0 10px red;
}
.extitle{
  cursor: none;
  padding: 1rem;
  width: 100%;
  font-size: 1rem;
  font-weight: 700;
}

.question{
  padding: 1rem;
  background-color: rgb(36, 34, 32);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.question-summary{
    margin: 2rem;
    /* background-color: red; */
    border-radius: 10px;
}
.question-summary img{
  border-radius: 10px;
  object-fit: cover;
  margin: auto;
}
.example{
  margin-top: 1rem;
  font-weight: 600;
  margin-left: 20px;
}
hr{
  margin: 1rem;
  width: 90%;
  margin: auto;
}

.link-icon{
  height: 2rem;
  width: 2rem;
  margin-left: 2rem;
  /* box-shadow: 2px 3px 3px red; */
  border-radius: 50%;
}
.link-icon:hover{
  box-shadow: 2px 4px 10px rgb(245, 23, 23);
}
.solution{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.array-solution{
  width: 90%;
  padding: .8rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  font-weight: 700;
}
.code-content{
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: rgb(29, 26, 26);
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 1rem;
}
.code{
  color: rgb(139, 245, 0);
  font-weight: 500;
  font-size: 1.2rem;
  font-family: 'Source Code Pro', monospace;
}
.img1{
  width: 90%;
}

.btn{
  width: 90%;
  margin: auto;
}
.easy{
  background-color: rgb(92, 143, 17); padding: 1rem;
  border-radius: 1rem;
}
.excontant{
  padding: 0 18px;
  background-color: rgb(0, 0, 0);
  display: none;
  overflow: hidden;
  /* transition: 5s; */
}

/* medium */
.mid-title{
  background-color: rgb(248, 162, 2);
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  font-weight: 700;
}
.mid-title:hover{
  background-color: rgb(248, 162, 2);
   color: black;
}
.medium{
  margin-top: 2rem;
  background-color: rgb(235, 181, 4);
  padding: 1rem;
  border-radius: 1rem;
}
.aproch{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-end;
}
.aproch-content ul li{
  text-align: left;
}
.aproch-img img{

  margin-bottom: 1rem;
  border-radius: 2rem;
  width: 100%;
}
h4{
  color: red;
  font-weight: 700;
}
.rain-water{
  /* background-color: red; */
  display: flex;
  object-fit: cover;
}
.rain-water img{
  height: 100%;
  width: 50%;
  object-fit: cover;
}
























/* Expand style */

.extitle{
  background-color:blue;
  color:white;
  cursor: pointer;
  border: none;
  transition: 0.8s;
}
.extitle button{
  font-size: 5rem;
}
.active,.extitle:hover {
  background-color: #c52828;
  color: white;
}
.excontant{
  padding: 0 18px;
  background-color: rgb(0, 0, 0);
  display: none;
  overflow: hidden;
  /* transition: 5s; */
}

